<!DOCTYPE html>

<html>
<head>
  <%- include('../template/head') %>
</head>
 <body>
  <!--導覽列-->
  <%- include('../template/navbar') %>
  <!-- 直接根據 res.locals 內的 errorMessage 取得錯誤訊息 -->
  <% if (errorMessage.length > 0) { %> <!-- errorMessage 預設值為空陣列 --> 
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
  <% } %>
  <!-- 直接根據 res.locals 內的 successMessage 取得成功訊息 -->
  <% if (successMessage.length > 0) { %> <!-- successMessage 預設值為空陣列 --> 
    <div class="alert alert-success" role="alert">
      <%= successMessage %>
    </div>
  <% } %>
  <!--管理選項 nav-->
  <%- include('./admin_nav') %>
</body>
</html>